*{
    margin: 0%;
    padding: 0%;
}

#main {
    background-color: rgba(15, 11, 11,1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

body {    
    background: -webkit-radial-gradient(circle, rgba(251,104,63,1) 0%, rgba(252,70,199,0.9248074229691877) 100%);

}

.botao {
    height: 50px;
    width: 50px;
    background-color: rgb(31, 31, 31);
    font-size: 20px;
    border: none;
    color: white;
    margin: 2px;
}

.botao:hover {
    background-color: rgb(65, 64, 64);
    cursor: pointer;
    font-size: 30px;
}

#botaozero {
    width: 106px;
}

#botaoigual {
    height: 106px;
}

#res {
    height: 50px;
    width: 206px;
    background-color: rgba(51, 88, 56, 0.9);
    border-radius: 10px;
    margin-left: 5px;
    font-size: 40px;
    padding: 5px;
    color: rgb(218, 209, 209);
    text-align: right;
}
